*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.tlf filter=lfs diff=lfs merge=lfs -text
Libraty/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
